/*************/
/*** RESET ***/
/*************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
    vertical-align: baseline;
    line-height: 1.25;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: inside;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
	font-family: "AbolitionW00-Soft";
  
	src: url("../fonts/AbolitionW00Soft.woff") format("woff"), /* Modern Browsers */
	  url("../fonts/AbolitionW00Soft.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

#page1,#page2,#page3,#page4,#page5,#page6 {
	position: relative;
}


.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/* flex-direction: column; */
	color: white;
	position: fixed;
	top: 1rem;
	left: 44vw;
	font-family: 'Anton', sans-serif;
	font-size: 3rem;
}

.menu-link {
	text-decoration: none;
	color: white;
	margin: 0 4rem;
	opacity: 0.35;
}

.menu-link:hover {
	opacity: 1;
	color: white;
}

.active {
	opacity: 1;
	color: #de0000;
	text-decoration: none;
}

.tmp {
	position: fixed;
	top: 6rem;
	left: 8vw;
	font-size: 2rem;
}

.pictos {
	position: fixed;
	right: 200px;
	top: 8px
}

.pictos img {
	width: 30px;
}


/******************/
/***** PAGE 1 *****/
/******************/

#page1 {
	background-image: url('../assets/img/Little-Simz-Grey-Area.jpg');
	background-repeat: no-repeat;
	background-position-y: 39%;
	background-size: cover;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

#page1 p {
	font-size: 2.5rem;
	color: #b4b4b4;
	font-family: 'AbolitionW00-Soft', sans-serif;
}

#new_album {
	padding-top: 15rem; 
}

#page1 h1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	font-size: 7rem;
	font-family: 'AbolitionW00-Soft', sans-serif;
}

.button {
	background-color: #de0000;
	border: none;
	padding: 15px 32px;
	border-radius: 10px;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
	margin-top: 3rem;
	font-family: 'AbolitionW00-Soft', sans-serif;
	font-size: 1.25rem;
	letter-spacing: 0.25rem;
}

.button:hover {
	font-size: 1.5rem;
	color: black;
}



#home {
	color: white;
	font-size: 7rem;
	letter-spacing: 3rem;
	-webkit-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	position: absolute;
	top: 17rem;
	left: -9rem; 
	opacity: .35;
	font-family: 'Anton', sans-serif;
}


/******************/
/***** PAGE 2 *****/
/******************/

#page2 {
	background-image: url(../assets/img/little-simz-fear-of-helping-yourself.jpg);
	background-repeat: no-repeat;
	background-size: 80vw 100vh;
	background-position-x: -440px;
	background-color: #01417c;
	font-family: 'AbolitionW00-Soft', sans-serif;	
}

#page2 h1 {
	font-size: 2rem;
	letter-spacing: 1rem;
}

#page2 p {
	line-height: 2rem;
	letter-spacing: 0.2rem;
}

#little_simz {
	color: white;
	opacity: 0.35;
	-webkit-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	position: absolute;
	top: 21rem;
	font-size: 7rem;
	left: -11.5rem;
	font-family: 'Anton', sans-serif;
}

#bio {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

#bio-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 49.4vw;
	height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: white;
	font-size: 1.5rem;
	height: 65vh;
	overflow: auto;
	margin-top: 12rem;
}

#bio-text p {
	width: 80%;
	text-align: justify;
}

/******************/
/***** PAGE 3 *****/
/******************/

#tracklist-containers {
	background-color: black;
	font-family: 'AbolitionW00-Soft';	
	position: relative;
}
#tracklist-containers h1 {
	font-size: 2.20rem;
	letter-spacing: 1rem;
}

#tracklist-containers p {
	line-height: 2rem;
}

.play-btn {
	font-size: 15px;
	color: white;
	margin-left: 10px;
}

.audio-player {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}


/*****************/
/***** 101FM *****/
/*****************/

.audio-player:nth-of-type(6){
	position: absolute;
	top: 110px;
	right: -90px
}
#tracklist-containers p:nth-of-type(6) {
	position: absolute;
	top: 80px;
	right: 39px;
}
/********************/
/***** PRESSURE *****/
/********************/

.audio-player:nth-of-type(7) {
	position: absolute;
	top: 170px;
	right: -90px;
}
#tracklist-containers p:nth-of-type(7) {
	position: absolute;
	top: 140px;
	right: 4px;
}

/*******************/
/***** THERAPY *****/
/*******************/

.audio-player:nth-of-type(8) {
	position: absolute;
	top: 230px;
	right: -90px;
}

#tracklist-containers p:nth-of-type(8) {
	position: absolute;
	top: 200px;
	right: 12px;
}

/**************************/
/***** SHERBET SUNSET *****/
/**************************/

.audio-player:nth-of-type(9) {
	position: absolute;
	top: 292px;
	right: -90px;
}

#tracklist-containers p:nth-of-type(9) {
	position: absolute;
	top: 258px;
	right: -60px;
}

/*******************/
/***** FLOWERS *****/
/*******************/

.audio-player:nth-of-type(10) {
	position: absolute;
	top: 352.25px;
	right: -90px
}

#tracklist-containers p:nth-of-type(10) {
	position: absolute;
	top: 320px;
	right: 8px;
}

progress, progress::-webkit-progress-value { 
	background: red; 
	height: 7px;
}

progress::-webkit-progress-bar {
	background: white;
}

progress {
	margin: 10px;
}

#music {
	color: white;
	opacity: .35;
	-webkit-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	position: absolute;
	top: 49vh;
	font-size: 7rem;
	letter-spacing: 3rem;
	left: -11.5rem;
	font-family: 'Anton', sans-serif;
}

.button2 {
	background-color: #de0000;
	border: none;
	padding: 15px 32px;
	border-radius: 10px;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
	margin-top: 2.25rem;
	font-family: 'AbolitionW00-Soft', sans-serif;
	font-size: 1.25rem;
	letter-spacing: 0.25rem;
}

.button2:hover {
	font-size: 1.5rem;
	color: black;
}

#bio-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#bio-album {
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-size: 1.5rem;
	height: 100vh;
	overflow: hidden;
	margin-top: 10.5rem;
	margin-left: 11.5rem;
	text-align: justify;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 39vw;
	letter-spacing: 0.2rem;
}

#bio-album p {
	margin-top: 0.5rem;
}

#tracklist {
	position: absolute;
	right: 13rem;
	top: 10.25rem;
	width: 400px;
	height: 90%;
	color: white;
}

#other-albums {
	color: white;
	position: absolute;
	bottom: 50px;
	right: 215px
}

#other-albums p {
	position: absolute;
	right: -20px;
	bottom: 65px;
	width: 300px
}

#spotify {
	position: absolute;
	right: 130px;
	bottom: -15px
}

#spotify a img{
	width: 50px;
}

#spotify a img:hover {
	width: 60px;
	position: absolute;
	right: -5px;
	bottom: 2px
}

#tracklist p, #other-albums {
	font-family: 'AbolitionW00-Soft', sans-serif;
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
}

#tracklist h1 {
	padding-bottom: 2.25rem;
	padding-left: 7rem;
}


.paragraphe1 {
	padding-bottom: 1rem;
	padding-top: 1rem;
}

/******************/
/***** PAGE 4 *****/
/******************/

#page4 {
	background-color: #ff5300;
	background-image: url(../assets/img/Tour.jpg);
	background-repeat: no-repeat;
	background-position-x: 51.25vw
}

#Tour {
	color: white;
	opacity: .35;
	-webkit-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	position: absolute;
	top: 17rem;
	font-size: 7rem;
	letter-spacing: 3rem;
	left: -8rem;
	font-family: 'Anton', sans-serif;
}

#tour-ctnr {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 9rem;
}

#tour-ctnr-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: auto;
	margin-top: 11rem;
	width: 41.75vw;
}

#tour {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 40vw;
	height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	color: white;
	height: 65vh;
	font-family: 'AbolitionW00-Soft', sans-serif;
	line-height: 2rem;
	letter-spacing: 0.2rem;
	text-align: left;
}

#tour p {
	padding-top: 0.25rem;
	padding-bottom: 0.225rem;
}
#tour-middle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100vw;
	height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	color: white;
	height: 65vh;
	font-family: 'AbolitionW00-Soft', sans-serif;
	line-height: 2rem;
	letter-spacing: 0.2rem;
	text-align: left;
}

#tour-middle p {
	padding-top: 0.25rem;
	padding-bottom: 0.225rem;
}

#tour, #tour-middle, #tour-right{
	margin-top: 5px
}

#tour-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 150vw;
	height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	color: white;
	height: 65vh;
	font-family: 'AbolitionW00-Soft', sans-serif;
	line-height: 2rem;
	letter-spacing: 0.2rem;
	text-align: right;
	margin-right: 0.5rem
}
#tour-ctnr p {
	font-size: 1rem;
	margin-top: 1rem
}

#tour-ctnr button {
	background-color: white;
	border: none;
	padding: 20px 20px;
	border-radius: 10px;
	color: black;
	font-size: 1.25rem;
	cursor: pointer;
	font-family: 'AbolitionW00-Soft', sans-serif;
	letter-spacing: 0.25rem;
	position: absolute;
	bottom: 30px;
	left: 25rem;
}

#tour-ctnr button:hover {
	background-color: black;
	color: white;
}

.black {
	color: black;
}

/******************/
/***** PAGE 5 *****/
/******************/

#page5 {
	background-color: black;
}

#photo {
	color: white;
	opacity: .35;
	-webkit-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	position: absolute;
	top: 16rem;
	font-size: 7rem;
	letter-spacing: 3rem;
	left: -14.5rem;
	font-family: 'Anton', sans-serif;
}

.img-global-ctnr {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.img-ctnr {
	width: 170px;
	height: 170px;
	position: relative;
	margin-top: 5rem;
	margin-left: 7rem
}

.img-ctnr:nth-of-type(1), .img-ctnr:nth-of-type(2),
.img-ctnr:nth-of-type(3), .img-ctnr:nth-of-type(4),
.img-ctnr:nth-of-type(5) {
	margin-top: 12rem;
}


.img-ctnr img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#global-overlay {
	background: grey;
	opacity: 0.5;
	position: absolute;
	width: 100%;
	height: 3000px;
	top: 0;
	left: 0;
	display: none;
	z-index: 2;
}

/******************/
/***** PAGE 6 *****/
/******************/

#page6 {
	background-color: #de0000;
	position: relative;
}

#videos{
	color: white;
	opacity: .35;
	-webkit-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	position: absolute;
	top: 17rem;
	font-size: 7rem;
	letter-spacing: 3rem;
	left: -13rem;
	font-family: 'Anton', sans-serif;
	z-index: 2;
}

.rounded-image-2, .rounded-image-3, .rounded-image-4, .rounded-image-5,
.rounded-image-6, .rounded-image-7, .rounded-image-8, .rounded-image-9,
.rounded-image-10, .rounded-image-11 {
	cursor: pointer;
}

.rounded-image{
	background-image: url(/assets/img/little-simz-full-or-empty-video-still.png);
	background-size: 400px 400px;
	background-position-y: 0px;
	background-position-x: 0px;
	background-repeat: no-repeat;
	overflow:hidden;
	border-radius:250px;
	width:400px;
	height:400px;
	position: absolute;
	top: 34vh;
	left: 38vw;
	border: 10px solid black;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.rounded-image a {
	margin-bottom: 1rem;
}
.rounded-image img {
	width: 70px;
}
.rounded-image-2{
	background-image: url(/assets/img/offence.png);
	background-size: 100px 100px;
	background-position-y: -10px;
	background-position-x: -10px;
	background-repeat: no-repeat;
	overflow:hidden;
	border-radius:250px;
	width:100px;
	height:100px;
	border: 5px solid black;
	position: absolute;
	left: 30.5vw;
	bottom: 31.5vh;
}
.rounded-image-3{
	background-image: url(/assets/img/Little-Simz-Grey-Area.jpg);
	background-size: 100px 100px;
	background-position-y: -10px;
	background-position-x: -10px;
	background-repeat: no-repeat;
	overflow:hidden;
	border-radius:250px;
	width:100px;
	height:100px;
	border: 5px solid black;
	position: absolute;
	left: 32vw;
	top: 40vh;
}

.rounded-image-4 {
	background-image: url(/assets/img/LittleSimzFestival-1696.jpg);
	background-size: 100px 120px;
	background-position-y: -10px;
	background-position-x: -7px;
	background-repeat: no-repeat;
	overflow:hidden;
	border-radius:250px;
	width:100px;
	height:100px;
	border: 5px solid black;
	position: absolute;
	left: 36vw;
	top: 26.5vh;
}

.rounded-image-5 {
	background-image: url(/assets/img/Backseat.jpg);
	background-size: 100px 100px;
	background-position-y: 0px;
	background-position-x: -10px;
	background-repeat: no-repeat;
	overflow:hidden;
	border-radius:250px;
	width:100px;
	height:100px;
	border: 5px solid black;
	position: absolute;
	left: 32vw;
	bottom: 17vh;
}

.rounded-image-6 {
	background-image: url(/assets/img/gratitude.jpg);
	background-size: 100px 100px;
	background-position-y: 0px;
	background-position-x: -10px;
	background-repeat: no-repeat;
	overflow:hidden;
	border-radius:250px;
	width:100px;
	height:100px;
	border: 5px solid black;
	position: absolute;
	left: 36vw;
	bottom: 4vh;
}

.rounded-image-7 {
	background-image: url(/assets/img/Sonar.jpg);
	background-size: 100px 100px;
	background-position-y: 0px;
	background-position-x: 0px;
	background-repeat: no-repeat;
	overflow:hidden;
	border-radius:250px;
	width:100px;
	height:100px;
	border: 5px solid black;
	position: absolute;
	right: 28.5vw;
	bottom: 31.5vh;
}

.rounded-image-8 {
	background-image: url(/assets/img/little-simz-demon-dayz.jpg);
	background-size: 190px 190px;
	background-position-y: -35px;
	background-position-x: -40px;
	background-repeat: no-repeat;
	overflow:hidden;
	border-radius:250px;
	width:100px;
	height:100px;
	border: 5px solid black;
	position: absolute;
	right: 30vw;
	top: 40vh;
}

.rounded-image-9 {
	background-image: url(/assets/img/coachella.jpg);
	background-size: 100px 100px;
	background-position-y: -10px;
	background-position-x: -7px;
	background-repeat: no-repeat;
	overflow:hidden;
	border-radius:250px;
	width:100px;
	height:100px;
	border: 5px solid black;
	position: absolute;
	right: 34vw;
	top: 26.5vh;
}

.rounded-image-10 {
	background-image: url(/assets/img/DemonDaysFestival.jpg);
	background-size: 100px 100px;
	background-position-y: 0px;
	background-position-x: 0px;
	background-repeat: no-repeat;
	overflow:hidden;
	border-radius:250px;
	width:100px;
	height:100px;
	border: 5px solid black;
	position: absolute;
	right: 30vw;
	bottom: 17vh;
}

.rounded-image-11 {
	background-image: url(/assets/img/ListenOutMelbourne.jpg);
	background-size: 100px 100px;
	background-position-y: -10px;
	background-position-x: -7px;
	background-repeat: no-repeat;
	overflow:hidden;
	border-radius:250px;
	width:100px;
	height:100px;
	border: 5px solid black;
	position: absolute;
	right: 34vw;
	bottom: 4vh;
}
#clips, #concerts {
	position: absolute;
	font-size: 2.5rem;
	font-family: 'AbolitionW00-Soft', sans-serif;
	color: white;
}

#clips {
	top: 19vh;
	left: 39vw;
}

#concerts {
	top: 19vh;
	right: 35vw;
}

.selfish, .boss, .offense,
.backseat, .gratitude, .coachella,
.great, .sonar, .demon, .listen {
	color: white;
	font-family: 'AbolitionW00-Soft', sans-serif;
	opacity: .5;
	position: absolute;
	font-size: 2rem;
}

.selfish {
	top: 30vh;
	left: 30.5vw
}

.boss {
	top: 44vh;
	left: 28vw;
}

.offense {
	bottom: 35.5vh;
	left: 25vw
}

.backseat {
	bottom: 20vh;
	left: 26vw;
}

.gratitude {
	bottom: 7vh;
	left: 29.5vw;
}

.coachella {
	top: 30vh;
	right: 24vw;
}

.great {
	top: 44vh;
	right: 16.5vw
}

.sonar {
	bottom: 35.5vh;
	right: 24vw
}

.demon {
	bottom: 20.5vh;
	right: 17.25vw;
}

.listen {
	bottom: 7.5vh;
	right: 20.5vw
}

#overlayBoss, #overlaySelfish, #overlayOffense,
#overlayBackseat, #overlayGratitude, #overlayCoachella,
#overlayGreat, #overlaySonar, #overlayDemon,
#overlayListen{
	background: grey;
	opacity: 0.5;
	position: absolute;
	width: 100%;
	height: 3000px;
	top: 0;
	left: 0;
	z-index: 1;
}

.video-ctnr {
	opacity: 1;;
}
.video {
	z-index: 99;
	position: absolute;
	top: 25vh;
	left: 25vw;
	opacity: 1;
}

.d-none {
	display: none;
}
footer {
	background-color: black;
	position: absolute;
	bottom: 0px;
	width: -webkit-fill-available;
	color: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-style: bold;
	font-size: .75rem;
}

.footer-links a {
	text-decoration: none;
	color: white;
	margin-right: 5rem;
}

.footer-links, .legal-m, .copyright , footer h1{
	margin-bottom: .75rem;
}

.logos a {
	margin-right: .5rem;
}

.logos {
	margin-top: .75rem;
	margin-bottom: .75rem;
}

footer h1{
	color: #de0000;
	letter-spacing: 0.2rem;
}

footer img {
	width: 30px;
}
/*********************/
/***** Scrollbar *****/
/*********************/

/* width */
::-webkit-scrollbar {
	width: 10px;
	border-radius: 50px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	display: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

	